<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
	<h1>¡Bienvenid@, <%= session.nick %>!</h1>	
	<p><h2>Partidas abiertas</h2>
	Las siguientes partidas han sido creadas por ti, pero aún están a la espera de recibir más jugadores.
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Número de jugadores</th>
            </tr>
            <% for(var i = 0; i < datosPartida.length; i++){ %>
            <tr>
                <td><%= datosPartida[i].Nombre %></td>
                <td><%= datosPartida[i].FechaCreacion.getDate() %>/<%= datosPartida[i].FechaCreacion.getMonth() + 1 %>/<%= datosPartida[i].FechaCreacion.getFullYear() %></td>
                <td><%= datosPartida[i].NumJugadores %>/<%= datosPartida[i].MaxJugadores %></td>
                <form action="/procesar_cerrar_partida" method="POST">
                    <input name="Nombre" type="hidden" value= "<%= datosPartida[i].Nombre %>" />
                    <td><input type="submit" value="Cerrar"></td>
                </form>
            </tr>
            <% } %>
        </table>
	</p>
	<p><h2>Partidas activas</h2>
	Haz clic en el titulo de la partida para ver su estado actual.	

	Se marcan resaltadas las partidas en las que es tu turno.
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Usuario creador</th>
                <th>Fecha</th>
                <th>Turno</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>nomCreador</td>             
                <td>14/05/2016</td>
                <td>otro</td>
            </tr>
        </table>
        
        <p><h2>Nueva Partida</h2>
	Inicia una nueva partida.
        <p><a href="/creaPartida.html"> <input type="submit" value="Crear partida"></a></p>
	</p>

	</p>
	<p><h2>Partidas terminadas</h2>
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Usuario creador</th>
                <th>¿Has ganado?</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>Nombre</td>             
                <td>Sí</td>
            </tr>
        </table>

	</p>

	</div>
        <%- include("pie") %>
</div>
</body>
</html>