<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/icono.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
        <% if(session.sexo === "hombre") { %>
            <h1>¡Bienvenido, <%= session.nick %>!</h1>	
        <% } else { %>
            <h1>¡Bienvenida, <%= session.nick %>!</h1>	
        <% } %>

	<p><h2>Partidas abiertas</h2>
	Las siguientes partidas han sido creadas por ti, pero aún están a la espera de recibir más jugadores.
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Número de jugadores</th>
                <th>Cerrar partida</th>
            </tr>
            <% for(var i = 0; i < datosPartida.length; i++){ %>
            <tr>
                <td><%= datosPartida[i].Nombre %></td>
                <td><%= datosPartida[i].FechaCreacion.getDate() %>/<%= datosPartida[i].FechaCreacion.getMonth() + 1 %>/<%= datosPartida[i].FechaCreacion.getFullYear() %></td>
                <td><%= datosPartida[i].NumJugadores %>/<%= datosPartida[i].MaxJugadores %></td>
                <% if(datosPartida[i].NumJugadores >= 3) { %>
                    <form action="/procesar_cerrar_partida" method="POST">
                        <input name="Nombre" type="hidden" value= "<%= datosPartida[i].Nombre %>" />
                        <td><input type="submit"  id="submit" value="Cerrar"></td>
                    </form>
                <% } else { %>
                    <td>Min. 3 jugadores</td>
                <% } %>
            </tr>
            <% } %>
        </table>
	</p>
	<p><h2>Partidas activas</h2></p>
	<p>Haz clic en el nombre de la partida para ver su estado actual.	
        </p>
	<p>Se marcan resaltadas las partidas en las que es tu turno.
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Usuario creador</th>
                <th>Fecha</th>
                <th>Turno</th>
            </tr>
            <% for(var i = 0; i < partidasActivas.length; i++){ %>
                <% if (partidasActivas[i].Nick === partidasActivas[i].TurnoDe) { %>
                    <tr class="turnoDeJugador">
                <% } else { %>
                    <tr>
                <% } %>
                    <td><form action="/partida.html" method="GET">
                        <input name="Nombre" type="hidden" value= "<%= partidasActivas[i].Nombre %>" />
                        <input type="submit" class="botonPartida" value="<%= partidasActivas[i].Nombre %>">
                    </form></td>
                    <td><%= partidasActivas[i].NickCreador %></td>           
                    <td><%= partidasActivas[i].FechaCreacion.getDate() %>/<%= partidasActivas[i].FechaCreacion.getMonth() + 1 %>/<%= partidasActivas[i].FechaCreacion.getFullYear() %></td>
                    <td><%= partidasActivas[i].TurnoDe %></td>
                </tr>
            <% } %>
        </table>
        
        </p>
	<p><h2>Partidas terminadas</h2>
	</p>
	<p>
	<table> 
            <tr>
                <th>Nombre</th>
                <th>Usuario creador</th>
                <th>¿Has ganado?</th>
            </tr>
            <% for(var i = 0; i < partidasTerminadas.length; i++){ %>
                <tr>
                    <td><form action="/partidaTerminada.html" method="GET">
                        <input name="Nombre" type="hidden" value= "<%= partidasTerminadas[i].Nombre %>" />
                        <input type="submit" class="botonPartida" value="<%= partidasTerminadas[i].Nombre %>">
                    </form></td>
                    <td><%= partidasTerminadas[i].NickCreador %></td>
                    <% if (partidasTerminadas[i].Ganador === partidasTerminadas[i].Nick) { %>
                        <td>Si</td>
                    <% } else { %>
                        <td>No</td>
                    <% } %>
                </tr>
            <% } %>
        </table>

	</p>

	</div>
        <%- include("pie") %>
</div>
</body>
</html>