<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
            <h1>Partida: <%= datosPartida.Nombre %></h1>	
            <p>Creada por: <%= datosPartida.NickCreador %></p>
            <p>Jugadores: 
                <%= datosPartida.Jugadores[0].Nick %>
                <% for(var j = 1; j < datosPartida.Jugadores.length; j++){ %>
                    , <%= datosPartida.Jugadores[j].Nick %>
                <% } %>
            <p>Turno de: <%= datosPartida.TurnoDe %></p>
            <p>Turnos restartes: <%= datosPartida.TurnosRestantes %></p>
            <h2>Tablero</h2>
            
                <% for(var i = 0; i < 7; i++){ %>
                    <div id="filaCartas">
                        <% for(var j = 0; j < 7; j++){ %>                            
                                <% if(tablero[i][j] !== undefined) { %>
                                    <div class="casillaCarta">
                                        <img src="/imagen/carta/<%= tablero[i][j].Valor %>" alt="<%= tablero[i][j].Nick %>" title="<%= tablero[i][j].Nick %>" height="75" width="75">
                                    </div>
                                <% } else { %>
                                    <div class="casillaCartaVacia"></div>                                    
                                <% } %>
                        <% } %>
                    </div>
                <% } %>
            
            <h2>Tus cartas</h2>	
            <div id="filaCartas">
                <% for(var j = 0; j < cartas.length; j++){ %>
                    <div class="casillaCarta">
                        <img src="/imagen/carta/<%= cartas[j].Valor %>" alt="Carta disponible" height="75" width="75">  
                    </div>
                <% } %>
            </div>
	</div>
        <%- include("pie") %>
</div>
</body>
</html>