<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/favicon.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<link rel="stylesheet" href="./css/infoPartida.css" />
<link rel="stylesheet" href="./css/comentarios.css" />
<link rel="stylesheet" href="./css/formularios.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>

	<div id="panelCentral">
            <h1>Partida: <%= datosPartida.Nombre %></h1>	
            <p>Creada por: <%= datosPartida.NickCreador %></p>
            <p>Jugadores: 
                <%= datosPartida.Jugadores[0].Nick %>
                <% for(var j = 1; j < datosPartida.Jugadores.length; j++){ %>
                    , <%= datosPartida.Jugadores[j].Nick %>
                <% } %>
            <p>Turno de: <%= datosPartida.TurnoDe %></p>
            <p>Turnos restartes: <%= datosPartida.TurnosRestantes %></p>
            
            <h2>Tablero</h2>
            <p>Deja el ratón sobre una casilla para ver quien la ha puesto (las casilla de incio y las de destino no disponen de esta información).</p>
             
            <div id="tablero">
                <% for(var i = 0; i < 7; i++){ %>
                    <div id="filaCartas">
                        <% for(var j = 0; j < 7; j++){ %>                            
                                <% if(tablero[i][j] !== undefined && tablero[i][j] !== null) { %>
                                    <% if(tablero[i][j] === -1) { %>
                                        <div class="casillaDisponible">
                                            <form action="/procesar_insertar_carta" method="POST">
                                                <input name="DatosPartida" type="hidden" value="<%= JSON.stringify(datosPartida) %>" />
                                                <input name="Cartas" type="hidden" value="<%= JSON.stringify(cartas) %>" />
                                                <input name="PosX" type="hidden" value="<%= i %>" />
                                                <input name="PosY" type="hidden" value="<%= j %>" />
                                                <input name="Carta" type="hidden" value="<%= JSON.stringify(cartas[indCartaSeleccionada]) %>" />
                                                <input type="submit" class="botonDisponible" id="submit" value=""  />
                                            </form>
                                        </div>
                                    <% } else { %>
                                        <div class="casillaCarta">
                                            <% if (tablero[i][j].Valor <= 20) { %>
                                                <img src="/imagen/carta/<%= tablero[i][j].Valor %>" alt="<%= tablero[i][j].Nick %>" title="<%= tablero[i][j].Nick %>" height="75px" width="75px" />
                                            <% } else { %>
                                                <img src="/imagen/carta/<%= tablero[i][j].Valor %>" height="75px" width="75px" />
                                            <% } %>
                                        </div>
                                    <% } %>                                    
                                <% } else { %>
                                    <div class="casillaCartaVacia"></div>                                    
                                <% } %>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <h2>Tus datos</h2>	
            <% var jugador; %>
            <% datosPartida.Jugadores.forEach(function(p){  %>
                <% if (p.Nick === session.nick) { %>
                    <% jugador = p; %>
                <% } %>
            <% }); %>
            <p>Tipo de jugador: 
                <% if (jugador.TipoJugador === 1) { %>
                    Saboteador
                <% } else { %>
                    Buscador
                <% } %>
            </p>
            <p>Herramienta activa: 
                <% if (jugador.Herramienta === 1) { %>
                    Si
                <% } else { %>
                    No
                <% } %>
            </p>
            <h2>Tus cartas</h2>	
            <div id="cartasPropias">
                <div id="filaCartas">
                    <% for(var j = 0; j < cartas.length; j++){ %>
                        <% if (cartas[j].PosX === -1 && cartas[j].PosY === -1) { %>
                             <% if (session.nick === datosPartida.TurnoDe) { %>                        
                                 <div class="casillaCartaTurnoActual">
                                 <form action="/procesar_carta_seleccionada" method="POST">
                                     <input name="DatosPartida" type="hidden" value="<%= JSON.stringify(datosPartida) %>" />
                                     <input name="Cartas" type="hidden" value="<%= JSON.stringify(cartas) %>" />
                                     <input name="Inice" type="hidden" value="<%= j %>" />
                                     <input type="image" class="botonPartida" src="/imagen/carta/<%= cartas[j].Valor %>" alt="Carta disponible" title="Carta disponible" height="75" width="75">
                                 </form>
                             <% } else { %>
                                 <div class="casillaCartaPropia"><img src="/imagen/carta/<%= cartas[j].Valor %>" alt="Carta disponible" title="Carta disponible" height="75" width="75">
                             <% } %>                          
                             </div>
                         <% } %> 
                    <% } %>
                </div>
            </div>
            <% if (session.nick === datosPartida.TurnoDe) { %>
                <p>Es tu turno, haz click en una carta para colocarla en el tablero.</p>
            <% } else { %>
                <p>Aun no es tu turno, debes esperar para seleccionar una carta.</p>
            <% } %>
            <h2>Comentarios</h2>
            
            <div id="cajaComentarios">
                <% for(var i = 0; i < comentarios.length; i++){ %>
                        <div id="comentario">
                          <div class="polaroid">
                            
                                <img src="/imagen/usuario/<%= comentarios[i].Nick %>" alt="Imagen de "+<%= comentarios[i].Nick %> height="66" width="66"> 

                                    <div class="container">
                                        <div class="nombreComentario"><%= comentarios[i].Nick %></div>
                                        <div class="fechaComentario"><%= comentarios[i].Fecha.getDate() %>/<%= comentarios[i].Fecha.getMonth() %>/<%= comentarios[i].Fecha.getFullYear() %> <%= comentarios[i].Fecha.getHours() %>:<%= comentarios[i].Fecha.getMinutes() %></div>
                                    </div>

                          </div>
                            <div class="clearfix"></div>
                            <p><div class="textoComentario"><%= comentarios[i].Texto %></div></p>   
                        </div>
                <% } %> 

                <% if (errores !== undefined) { %>
                    <div id="caja_errores_form">                           
                        <ul>
                            <% errores.forEach(function(error) { %>
                            <li><%= error.msg %></li>
                            <% }); %>
                        </ul>                            
                    </div>
                <% } %>

                <p><div id="escribirComentario">
                    <p>Introduce aquí tu comentario:</p>
                    <form action="/procesar_insertar_comentario" method="POST">
                        <input type="hidden" name="DatosPartida" value="<%= JSON.stringify(datosPartida) %>"  >
                        <input type="hidden" name="Cartas" value="<%= JSON.stringify(cartas) %>" > 
                        <input type="hidden" name="Tablero" value="<%= JSON.stringify(tablero) %>" > 

                        <p><textarea class="cajaComentario" rows="8" name="TextoComentario"></textarea></p>
                        <p><input type="submit" id="submit" value="Enviar"></p>
                    </form>

                </div></p>
            </div>


	</div>
        <%- include("pie") %>
</div>
</body>
</html>