<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/icono.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<link rel="stylesheet" href="./css/infoPartida.css" />
<link rel="stylesheet" href="./css/comentarios.css" />
<link rel="stylesheet" href="./css/formularios.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
            <h1>Partida: <%= datosPartida.Nombre %></h1>	
            <p>Creada por: <%= datosPartida.NickCreador %></p>
            <p>Jugadores: 
                <%= datosPartida.Jugadores[0].Nick %>
                <% for(var j = 1; j < datosPartida.Jugadores.length; j++){ %>
                    , <%= datosPartida.Jugadores[j].Nick %>
                <% } %>
            <p>Ganador: <%= datosPartida.Ganador %></p>
            
           
            <h2>Tus datos</h2>	
            <% var jugador; %>
            <% datosPartida.Jugadores.forEach(function(p){  %>
                <% if (p.Nick === session.nick) { %>
                    <% jugador = p; %>
                <% } %>
            <% }); %>
            <p>Tipo de jugador: 
                <% if (jugador.TipoJugador === 1) { %>
                    Saboteador
                <% } else { %>
                    Buscador
                <% } %>
            </p>
            <p>Herramienta activa: 
                <% if (jugador.Herramienta) { %>
                    Si
                <% } else { %>
                    No
                <% } %>
            </p>
            


	</div>
        <%- include("pie") %>
</div>
</body>
</html>