<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
            <h1>Partida: <%= datosPartida.Nombre %></h1>	
            <p>Creada por: <%= datosPartida.NickCreador %></p>
            <p>Jugadores: 
                <%= datosPartida.Jugadores[0].Nick %>
                <% for(var j = 1; j < datosPartida.Jugadores.length; j++){ %>
                    , <%= datosPartida.Jugadores[j].Nick %>
                <% } %>
            <p>Turno de: <%= datosPartida.TurnoDe %></p>
            <p>Turnos restartes: <%= datosPartida.TurnosRestantes %></p>
            <h2>Tablero</h2>
            <h2>Tus cartas</h2>	        
	</div>
        <%- include("pie") %>
</div>
</body>
</html>