<!DOCTYPE html>
<html lang="es">
    <!-- P치gina HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/icono.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>

	<div id="panelCentral">
		<p><h1>Unirse a partida</h1></p>
		<p>A continuaci칩n se muestra una lista con las partidas abiertas que admiten jugadores.</p>
		
		<p>
                	<table> 
		            <tr>
		                <th>Nombre</th>
		                <th>Fecha</th>
		                <th>M치ximo de jugadores</th>
		                <th>Jugadores apuntados</th>
		            </tr>
		             <% for(var i = 0; i < datosPartida.length; i++){ %>
                            <tr>
                            <form action="/procesar_unirse_partida" method="POST">
                                <td>
                                    <input name="Nombre" type="hidden" value= "<%= datosPartida[i].Nombre %>" />
                                    <%= datosPartida[i].Nombre %>
                                </td>
                                <td> 
                                    <%= datosPartida[i].FechaCreacion.getDate() %>/<%= datosPartida[i].FechaCreacion.getMonth() + 1 %>/<%= datosPartida[i].FechaCreacion.getFullYear() %>
                                </td>
                                <td>
                                    <input name="NumJugadores" type="hidden" value= "<%= datosPartida[i].NumJugadores %>" />
                                    <input name="MaxJugadores" type="hidden" value= "<%= datosPartida[i].MaxJugadores %>" />
                                    <%= datosPartida[i].NumJugadores %>/<%= datosPartida[i].MaxJugadores %>
                                </td>
                                <td>
                                    <%= datosPartida[i].Jugadores[0].Nick %>
                                    <% for(var j = 1; j < datosPartida[i].Jugadores.length; j++){ %>
                                        , <%= datosPartida[i].Jugadores[j].Nick %>
                                    <% } %>
                                </td>
                                <td>
                                    <input type="submit" id="submit" value="Unirse">
                                </td>
                                
                            </form>
                            </tr>
                            <% } %>
		    </table>
		</p>
               
		<p><a HREF="listaPartidas.html">Volver a la p치gina de usuario</a></p>
	</div>
        <%- include("pie") %>
</div>
</body>
</html>